@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>Important Message</h2>
<p>This is very <em>unimportant</em> message. It's <b>only</b> to demonstrate how to call the view from controller.</p>
<p>Thank you.</p>
